<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>DP</strong> <span>{{ site.subtitle }}</span></a>
	<ul class="actions fir small" text-align="right">
		<li><a href="/" class="button fit small">Home</a></li>
		<!-- <li><a href="/all_posts" class="button fit small">Blog</a></li> -->
		<li><a href="/all_projects" class="button fit small">Projects</a></li>
		<li><a href="/assets/files/resume.pdf" class="button fit small">Resume</a></li>
	</ul>
</header>